<%= alert :error do %>
  <%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:
  <%= @membership.errors.full_messages.to_sentence %>
<% end if @membership.errors.any? %>

<%= form_for [current_project, @membership] do |f| %>
  <%= next_path_field %>
  <div class="row">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, current_project.non_members, :id, :name, :prompt => 'Choose an user' %>
  </div>
  <%= f.submit :class => 'button' %>
<% end %>
