<%= alert :error do %>
  <%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:
  <%= @entry.errors.full_messages.to_sentence %>
<% end if @entry.errors.any? %>

<%= form_for [current_project, @entry] do |f| %>
  <%= next_path_field %>
  <div class="row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="row">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'autogrow' %>
  </div>
  <div class="row">
    <%= f.label :estimate %>
    <%= f.select :estimate, estimate_options, :include_blank => 'No estimate' %>
  </div>
  <div class="row">
    <%= f.label :status_id %>
    <%= f.collection_select :status_id, status_options, :id, :name, :include_blank => 'Choose a status' %>
  </div>
  <%= f.submit :class => 'button' %>
<% end %>
