<header>
  <h1>Listing entries</h1>
  <%= link_to fa('plus').concat(' New entry'), new_project_entry_path(current_project) %>
</header>

<% if @entries.any? %>
  <ul>
    <% @entries.each do |entry| %>
      <li>
        <%= render entry.status if entry.status %>
        <%= link_to entry.title, project_entry_path(current_project, entry), :class => 'truncate long' %>
        <%= fa('clock-o') %>
        <%= entry.time_recorded.to_s.concat "/#{entry.estimate || 'None'}" %>
        <!-- &mdash; -->
        <!-- <%= link_to fa('pencil'), edit_project_entry_path(current_project, entry) %> -->
        <!-- <%= destroy_link fa('trash-o'), project_entry_path(current_project, entry) %> -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No entries.</p>
<% end %>