<header>
  <h1>Listing entries</h1>

  <ul class="inline">
    <li><%= link_to fa('plus').concat(' New entry'), new_project_entry_path(current_project) %></li>
  </ul>
</header>

<%= flash_alerts %>

<% if @entries.any? %>
  <ul>
    <% @entries.each do |entry| %>
      <li>
        <%= link_to entry.title, project_entry_path(current_project, entry), :class => 'truncate long' %>

        <%= render entry.status if entry.status %>
        <% if entry.time_recorded > 0 %><span class="tag"><%= humanize_and_pluralize entry.time_recorded, 'hour' %><%= " out of #{number_to_human entry.estimate}" unless entry.estimate.blank? %></span><% end %>
        <% if entry.comments.any? %><span class="tag"><%= humanize_and_pluralize entry.comments.count, 'comment' %></span><% end %>

        <span class="hover">
          &mdash;
          <%= link_to fa('clock-o'), new_project_time_record_path(current_project, :entry => entry) %>
          <%= link_to fa('pencil'), edit_project_entry_path(current_project, entry) %>
          <%= destroy_link fa('trash-o'), project_entry_path(current_project, entry) %>
        </span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No entries.</p>
<% end %>