<header>
  <h1>Listing entries</h1>
  <%= link_to fa('plus').concat(' New entry'), new_project_entry_path(current_project) %>
</header>

<% if @entries.any? %>
  <ul>
    <% @entries.each do |entry| %>
      <li>
        <%= link_to entry.title, project_entry_path(current_project, entry), :class => 'truncate long' %>

        <%= render entry.status if entry.status %>

        <span class="tag"><%= humanize_and_pluralize entry.time_recorded, 'hour' %></span>
        <span class="tag"><%= humanize_and_pluralize entry.comments.count, 'comment' %></span>

        <span class="hover">
          &mdash;
          <%= link_to fa('clock-o'), new_project_time_record_path(current_project, :entry => entry) %>
          <%= link_to fa('pencil'), edit_project_entry_path(current_project, entry) %>
          <%= destroy_link fa('trash-o'), project_entry_path(current_project, entry) %>
        </span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No entries.</p>
<% end %>