<header>
  <h2>Listing entries</h2>
  <%= link_to fa('plus').concat(' New entry'), new_current_project_entry_path %>
</header>

<% if @entries.any? %>
  <ul>
    <% @entries.each do |entry| %>
      <li>
        <%= render entry.status if entry.status %>
        <%= link_to entry.title, current_project_entry_path(entry) %>

        <%= fa('clock-o').concat " #{entry.estimate}" unless entry.estimate.blank? %>
        &mdash;
        <%= link_to fa('pencil'), edit_current_project_entry_path(entry) %>
        <%= destroy_link fa('trash-o'), current_project_entry_path(entry) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No entries.</p>
<% end %>