<header>
  <h1>Showing entry</h1>

  <ul class="inline">
    <li><%= link_to fa('arrow-left').concat(' Back'), project_entries_path(current_project) %></li>
    <li><%= link_to fa('clock-o').concat(' New time record'), new_project_time_record_path(current_project, :entry => @entry) %></li>
    <li><%= link_to fa('pencil').concat(' Edit'), edit_project_entry_path(current_project, @entry) %></li>
  </ul>
</header>

<%= flash_alerts %>

<article class="entry">
  <h2 class="no-margin"><%= @entry.title %></h2>

  <p>
    <%= render @entry.status if @entry.status %>
    &mdash;
    <strong><%= @entry.author.short_name %></strong>,
    added on <%= l @entry.created_at, :format => :short %>.
    <%= fa('clock-o') %>
    <strong><%= @entry.time_recorded.to_s.concat "/#{@entry.estimate || 'None'}" %></strong>
  </p>

  <% if @entry.description.blank? %>
    <p>No description.</p>
  <% else %>
    <%= markdown_to_html @entry.description %>
  <% end %>
</article>

<aside>
  <h2>Follow up</h2>

  <% if @entry.comments.any? %>
    <div>
      <%= render @entry.comments %>
    </div>
  <% else %>
    <p>No comments.</p>
  <% end %>

  <%= form_for [current_project, @entry, @entry.comments.new] do |f| %>
    <div class="row">
      <%= f.label :content, 'New comment' %>
      <%= f.text_area :content, :class => 'markdown', :rows => 5 %>
    </div>
    <%= f.submit :class => 'button' %>
  <% end %>
</aside>