<%= alert :bad do %>
  <%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:
  <%= @status.errors.full_messages.to_sentence %>
<% end if @status.errors.any? %>

<%= form_for [current_project, @status] do |f| %>
  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <%= f.label :sort %>
    <%= f.number_field :sort %>
  </div>
  <div class="row">
    <%= f.label :color %>
    <%= f.select :color, color_options, :prompt => 'Choose a color' %>
  </div>
  <div class="row">
    <label>
      <%= f.check_box :closing %>
      Closing ?
    </label>
  </div>
  <%= f.submit :class => 'button' %>
<% end %>
