<%= alert :error do %>
  <%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:
  <%= @status.errors.full_messages.to_sentence %>
<% end if @status.errors.any? %>

<%= form_for [current_project, @status] do |f| %>
  <%= next_path_field %>
  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <%= f.label :sort %>
    <%= f.number_field :sort %>
  </div>
  <div class="row">
    <%= f.label :closing %>
    <%= f.select :closing, [['No', false], ['Yes', true]] %>
  </div>
  <div class="row">
    <%= f.label :color %>
    <% color_options.each do |label, name| %>
      <label class="item inline">
        <%= f.radio_button :color, name %>
        <%= content_tag :span, label, :class => "tag #{name}" %>
      </label>
    <% end %>
  </div>
  <%= f.submit :class => 'button' %>
<% end %>
