<header>
  <h1>Listing project statuses</h1>

  <ul class="inline">
    <li><%= link_to fa('arrow-left').concat(' Back'), current_project %></li>
    <li><%= link_to fa('plus').concat(' New status'), new_project_status_path(current_project) %></li>
  </ul>
</header>

<%= flash_alerts %>

<% if @statuses.any? %>
  <ol>
    <% @statuses.each do |status| %>
      <li>
        <%= content_tag :span, status.name, :class => "tag #{status.color}" %>

        <span class="hover">
          &mdash;
          <%= link_to fa('arrow-up'), move_up_project_status_path(current_project, status), :method => :post, :remote => true %>
          <%= link_to fa('arrow-down'), move_down_project_status_path(current_project, status), :method => :post, :remote => true %>
          <%= link_to fa('pencil'), edit_project_status_path(current_project, status) %>
          <%= destroy_link fa('trash-o'), project_status_path(current_project, status) %>
        </span>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>No statuses.</p>
<% end %>