<%= alert :bad do %>
  <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
  <%= @user.errors.full_messages.to_sentence %>
<% end if @user.errors.any? %>

<%= form_for(@user) do |f| %>
  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="row">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="row">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </div>
  <%= f.submit %>
<% end %>
