<%= alert :error do %>
  <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
  <%= @project.errors.full_messages.to_sentence %>
<% end if @project.errors.any? %>

<%= form_for(@project) do |f| %>
  <%= next_path_field %>
  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <%= f.label :manager_id %>
    <%= f.collection_select :manager_id, manager_html_options, :id, :name, :prompt => 'Choose a manager' %>
  </div>
  <%= f.submit :class => 'button' %>
<% end %>
