<header>
  <h1>Summary</h1>

  <% if current_project.manager == current_user %>
    <ul class="inline">
      <li><%= link_to fa('tags').concat(' Entry statuses'), project_statuses_path(@project) %></li>
      <li><%= link_to fa('pencil').concat(' Edit'), edit_project_path(current_project) %></li>
      <li><%= destroy_link fa('trash-o').concat(' Delete'), current_project %></li>
    </ul>
  <% end %>
</header>

<p>...</p>

<!--
<header>
  <h1>Comments</h1>
</header>

<% if @project.comments.each do |comment| %>
  <blockquote>
    <%= simple_format comment.content %>
    <cite>&mdash; <%= comment.author.name %>, <%= time_ago_in_words comment.created_at %></cite>
  </blockquote>
<% end.empty? %>
  <p>No comments.</p>
<% end %>

<header>
  <h3>New comment</h3>
</header>

<%= form_for [@project, @project.comments.new] do |f| %>
  <div class="row">
    <%= f.text_area :content %>
  </div>
  <%= f.submit :class => 'button' %>
<% end %>
-->