<%= alert :bad do %>
  <%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:
  <%= @log.errors.full_messages.to_sentence %>
<% end if @log.errors.any? %>

<%= form_for [current_project, @log] do |f| %>
  <div class="row">
    <%= f.label :date %>
    <%= f.text_field :date, :class => 'pickadate' %>
  </div>
  <div class="row">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>
  <div class="row">
    <%= f.label :entry_id %>
    <%= f.collection_select :entry_id, current_project.entries, :id, :title, :include_blank => 'None' %>
  </div>
  <%= f.submit :class => 'button' %>
<% end %>
